data/
.env
.env.*
!.env.example

.git
.gitignore
.gitattributes

Dockerfile*
docker-compose*.yml
.dockerignore

/auth-worker
*.exe
*.test
*.out
*.prof
vendor/
tmpclient/

*.md
.idea/
.vscode/
.DS_Store
